/*.rand_bg {
	padding-left: 15%;
	padding-right: 10%;
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	font-family: CircularStd;
}

.filter{
	width: 15%;
	list-style: none;
	font-size: 10px;
}



.body{
	width: 40%;

}

.info{
	width: 15%;

}
	
.restaurant_image{
	margin-top: 5%;
	width: 100%;
}

.body button{
	margin-top: 2%;
	margin-left: 18%;
	background-color: #fff;
	width: 60%;
	font-size: 100%;
	padding: 4%;
	border: 2px solid #f79361;
	border-radius: 2px;
	font-family: CircularStd;
}

.info {
	width: 30%;	
	margin-top: 3.5%;
	margin-left: 2%;
	font-family: CircularStd;
	text-align: center;
	background-color: #f79361;
	height: 40vh;
}

.info h5{
	font-size: 25px;
	padding-top: 3%;
	text-decoration: underline;
}

.info h3{
	font-size: 25px;
	padding-top: 18%;
}

#rand_details{
	display: none;
	margin-top: 15%
}

#rand_default{
	display: block;
	margin-top: 35%;

}

.alert{
	color: red;
	font-size: 15px;
}*/


.rand_button{
  flex: 1;
	margin-top: 2%;
	margin-left: 23%;
	background-color: #f79361;
	min-width: 60%;
  max-width: 60%;
	min-height: 10%;
  max-height: 10%;
	border: 2px solid #f79361;
	border-radius: 75px;
	font-family: CircularStd;

}


.rand-results {
  flex: 4;
  margin: 3%;
  width: 95%;
  height:40%;
}

#rand-results-id{
  display: none;

}



.result-row{
  width: 96%;
  min-width: 800px;
  margin: 1%;
  height: 250px;
  position: relative;
  border: #f79361 solid 0px;
  background-color: #f4f4f4;
  border-radius: 4px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.result-row1{
  height: 50%;
  margin: 1%;
  padding-top: 1%;
  text-align: left; 
}
.result-row2{
  margin-top: 2%;
  height: 50%;
  text-align: left;
  margin-left: 1%;
  flex-wrap: wrap;
}

.result-row:hover {background-color:#f0f0f0;}

.result-photo{
  float: left;
  width: 25%;
  height: 80%;
  padding: 10px;
  border: 2px solid black;
  position: relative;
}

.result-type{
  float: left;
  width: 60%;
  margin-left: 1%;
}

.result-rates{
  margin: 1px;
  width: 10%;
  float: right;
  text-align: right;
  font-size: 0.7em;
  flex-wrap: wrap;
}

.result-rating{
  float: right;
  padding: 15px 10px;
  margin: 0 15%;
  background-color: #6ab187;
  border-radius: 100%;
  min-width: 20px;
  min-height: 10px;
  text-align: center;
}

.result-likes{
  height: 15px;
  float: right;
  position: relative;
  margin-top: 10%;
}

.result-name{
  float: left;
  width: 60%;
  margin-left: 1%;
  font-size: 2em;
  color: red;
}

.result-address{
  float:left;
  width: 70%;
  margin-left: 1%;
  margin-top: 1%;
  font-style: italic;
}


.rand_body{
  height: 100vh;
  display: flex;
}

.mainRand{
  margin-left: 5%;
  margin-top: 3%;
  height: 80vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter{
  margin-left: 10%;
  margin-top: 3%;
}

.randRelated{
  flex: 4;
  flex-direction: column;
}

#randRelated-id{
  display: none;
}
.randRelatedItems{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

